*{
  margin: 0px;
  padding: 0px;}
body{
height:1650px;

}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
background: #888;
}

/* first page begin*/
.first-page{
    width: 100%;
    height: 760px;
    background-image: url(1.jpg);
    background-size: 100% 100%;

}
h1.logo{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 45px;
    top: 40px;
    font-family: 'Roboto', sans-serif;

}
h1.msg{
    color: white;
    font-size: 80px;
    position: absolute;
    left: 100px;
    top: 370px;
    font-family: 'Roboto', sans-serif;
}
.list{
  position:absolute;
  left:53%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  top: 30px;
  }
.list li{
  list-style: none;
  color: white;
  font-size: 30px;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  position: relative;

}
.list a{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;


}
.bb{background-color:#16b9e7;}
h5{
  width: 400px;
  height: 400px;
  color: rgba(255, 255, 255,0.7);
  font-family: 'Amatic SC';
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top:52%;
  left: 53%;
}

.first-page :hover{
  box-shadow:none;
  border: none;
  }
/*first page end*/











/*the three box div begin     */
.contain
{
  width: 100%;
  height: 700px;
  background-color:#01ACE2;
  display:flex;
  margin-top: 1px;


}
.contain div{
    border-top: 2px solid #156e8e;
    border-left:  2px solid #156e8e;
    border-bottom:1px solid #156e8e;
    border-right:  1px solid #156e8e;
    height: 500px;
    width: 30%;
    margin: 80px 20px 0px 20px;
    position: relative;


}
div :hover{
    box-shadow: 12px 20px 16px 5px #000;
    /*inset 5px 6px 13px #4dfffa;*/
    transition: 0.4s linear;
    opacity: 1;
    border-top: 1px solid #4dfffa;
    border-left:  1px solid #4dfffa;
}
div h1 {
    font-size: 300px;
    float: right;
    position: relative;
    right: 40px;
    color: rgba(183, 183, 183, 0.4);

}
.contain h1:hover{
    box-shadow: none;
    font-size: 350px;
    transition: 0.2s linear;
    border: none;
}
.contain h2:hover{
    box-shadow: none;
    border: none;
}
.contain p:hover{
    box-shadow: none;
    border: none;
}
div h2 {
    font-size: 40px;
    color:white;
    position: absolute;
    top: 100px;
    left: 170px;

}
div p {
    color:white;
    position: absolute;
    padding: 30px;
    top:30%
      }

.btn{
    position: absolute;
    background-color: white;
    width: 120px;
    height: 50px;
    top:70%;
    left: 15%;
    color: #09749b;
    background:none;
    font-size: 18px;
    border: 4px solid #09749b;

}
.btn:hover{
    box-shadow:none;
    transition: 0.1s linear;
    background-color: white;
    transform: scale(1.3);
    border: none;
}

/* the three box div end */
.contact{
    width: 100%;
    height: 500px;
    background-color: rgb(41, 63, 86);
    display: flex;

}
.inputs{
    position: relative;
    width: 500px;
    height: 400px;
    top: 100px;
    left: 50px;

    align-items: center;
    justify-content: center;
}
.footer{
    background-color: #293f56;
    height: 200px;


  }
.footer h5{
      height: 50px;
      position: relative;
      color: rgba(255, 255, 255,0.4);
      margin-left: 0px;
      font-family: 'Roboto', sans-serif;
      top: 40%;
      left: 41%;
      font-size: 20px;
      width: 500px;
    }

.footer h5:hover{
    box-shadow: none;
    border:none;
}
ul li{
    float: left;
    position: relative;
    list-style: none;

}
ul li img{
    width: 50px;
    height:50px;
    position: relative;
    top: 70px;
    left: 650px;
    margin-left: 20px;
}
ul:hover{
    box-shadow: none;
    border:none;
}

ul img:hover   {
    box-shadow: none;
    border:none;
}

ul li:hover   {
    box-shadow: none;
    border:none;
}
ul a:hover{
  box-shadow: none;
  border:none;
}




















/*last page end*/
